// Background colors
$bg-dark: #363636;
$bg-light-gray: #F9F9F9;
$text-light: #FFF;
$summer-blue: #34AADE;

// Navbar
$navbar-bg-color: $bg-dark;
$navbar-link-color: #898989;
$navbar-link-hover-bg: #60c4fd;
$navbar-link-hover-color: $text-light;
$navbar-item-border: 3px solid #464646;

$footer-bg-color: $bg-dark;
$footer-text-color: $text-light;
$footer-link-color: $text-light;
