$font-default: 'Avenir LT W01_55 Roman1475520', sans-serif;
$font-light: 'Avenir LT W01_35 Light_1475502', sans-serif;
$font-book: 'Avenir LT W01_45 Book1475508', sans-serif;
$font-medium: 'Avenir LT W01_65 Medium1475532', sans-serif;
$font-heavy: 'Avenir LT W01_85 Heavy1475544', sans-serif;