.l-container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1em;
}

.l-footer {
  padding: 2em 1em;
}

.l-cards {
  display: flex;
  flex-wrap: wrap;

  .card {
    display: flex;
    flex-direction: column;
    margin: .5rem;

    @media screen and (min-width: $b-large) {
      max-width: 32%;

      &:nth-child(3n - 2) {
        margin-left: 0;
      }

      &:nth-child(3n) {
        margin-right: 0;
      }
    }
  }

  .card-small {
    display: flex;
    flex-direction: column;
    margin: .5rem;

    @media screen and (min-width: $b-large) {
      max-width: 23.9%;

      &:nth-child(4n - 3) {
        margin-left: 0;
      }

      &:nth-child(4n) {
        margin-right: 0;
      }
    }
  }
}

.l-gallery {
  display: flex;
  flex-wrap: wrap;

  .gallery-item {
    display: flex;
    flex-direction: column;
    margin: .5rem;

    @media screen and (min-width: $b-large) {
      max-width: 32%;

      &:nth-child(3n - 2) {
        margin-left: 0;
      }

      &:nth-child(3n) {
        margin-right: 0;
      }
    }
  }
}

.l-form {
  padding: 2em 1em;
}