.form-wrapper {
  margin: 10px 0;
}

.field--type-string,
.field--type-link {
  label {
    display: block;
    font-family: $font-book;
  }
  input {
    border: 1px solid #ccc;
  }
  .description {
    font-family: $font-light;
  }
}

form.webform-submission-form {
  max-width: 1180px;
  margin: auto;

  .form-item {
    display: flex;
    margin: 10px;

    label {
      width: 200px;
    }
  }

  .form-no-label {
    display: block;
  }

  legend {
    width: 200px;
    float:  left;
  }

  .fieldset-wrapper {
    input {
      margin: 0 8px 0 0;
    }
  }

  .form-item-description {
    display: block;

    label {
      float: left;
    }
  }
}
