$font-default: 'Avenir LT Pro', sans-serif;
$font-light: 'Avenir LT Pro 35 Light', sans-serif;
$font-book: 'Avenir LT Pro 45 Book', sans-serif;
$font-medium: 'Avenir LT Pro 65 Medium', sans-serif;
$font-heavy: 'Avenir LT Pro 85 Heavy', sans-serif;
